/* clases dentro de jumbotron --> jumbotron.classname      */

nav.navbar {
    margin-bottom: 0;
    background:#1d1d1b;
}
section.jumbotron1{
    margin-top: 1px;
    background: #586E5F;
    color: white;
}
section.jumbotron2{
    margin-top: 4px;

}
/* canchass*/
section.main{
    margin-top: 20px;
    margin-bottom: 20px;
}
article.post{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.post-title a{
color: black;
}
a.fill-img{
    width: 70%;    
}
a.fill-img img{
    width:100%;
    height: 400px;
    
}
@media screen and (max-width:720px){
    a.fill-img{
        width: 100%;    
    }
    a.fill-img img{
        width:100%;  
    }
}
th.cel-p{
    color: white;
    background: #99583D;
}
th.cel-ban{
    color: black;
    background: #CCCC;
}
th.cel-busy{
    color: white;
    background: #d74338;
}
.margin-b-2 {
    margin-bottom: 20px;

}
/* caja transparente */
div.transbox {
    margin: 10px;
    background-color: black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

/* footer */
footer{
    bottom: 0;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: white;
    background: #343a40;
    }

    footer ul li{
        padding:5px 0px;
    }

    .adress span , .social span{
      color: #FFF; 
      font-weight: 800; 

      display: block;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 3px;
    }
    
    .adress li p , .contact li a , .social li a{
        color:#FFF;
        letter-spacing: 2px;
        text-decoration:none;
        font-size:15px;
    }

    .social li{
        float:left;
    }

    .adress , .contact , .social {
        list-style: none;
    }

    .fa{
        color:#9c9c9c;
        margin-right: 30px;
        font-size:29px;
    }


/* Slider estilos*/
div.mySlides {display: none;}
img {vertical-align: middle;
    height: 400px;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:auto;
  margin-top: 20px;
  margin-bottom:20px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}